<div class="form-group">
	<div class="col-sm-offset-2 col-sm-4">
		<button class="btn btn-primary" type="submit"><%= btnText %></button>
		<a class="btn btn-danger" href=<%= refPath %> role="button">
			<span><%= refText %></span>
		</a>
	</div>
</div>
