<div class="form-group">
	<div class="col-sm-offset-2 col-sm-5">
		<a class="btn btn-primary" href=<%= editRef %>>
			<span>Edit</span>
		</a>
		<a class="btn btn-primary" href=<%= cancelRef %>>
			<span>Cancel</span>
		</a>
	</div>
</div>